//
// Code (inline and blocK)
// --------------------------------------------------


// Inline and block code styles
code,
pre {
  @include border-radius(3px);
}

// Inline code
code {
  font-family: inherit;
  //font-family: 'Ubuntu Condensed', "Noto Sans Korean";
  padding: 2px 3px;
  //color: #d14;
  // font-size: $baseFontSize - 2;
  background-color: #f7f7f9;
 // border: 1px solid #e1e1e8;
}

// Blocks of code
pre {
  @include font-family-monospace;
  color: $grayDark;
  display: block;
  padding: 12px;
  //margin: -15px 0 15px 20px;
  font-size: $baseFontSize - 2;
  line-height: 170%;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  @include border-radius(4px);

  // Make prettyprint styles more spaced out for readability
  &.prettyprint {
    margin-bottom: $baseLineHeight;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
