{% capture post_slug %}{{ post.date | date: "%Y-%m-%d" }}-{{ post.url | split: '/' | last }}{% endcapture %}
<div style="float: left"></div>
<div class="comments">
	<div class="comments_wrapper" {% if site.data.comments[post_slug] == null %}aria-hidden="true"{% endif %}>
		<div class="heading">
			<a href="#content_div" onClick="comment_toggle('comment_hidden_{{ post_slug }}');">Comments</a>
		</div>
		<div id="comment_hidden_{{ post_slug }}" style="display: none;">
			<div class="line"></div>
			<div class="content_div">
				<script src="https://utteranc.es/client.js" repo="soyme/my-blog-comments" branch="master" issue-term="{{ post_slug }}" theme="github-light" crossorigin="anonymous" async></script>
			</div>
		</div>
	</div>
</div>
<div style="clear: both"></div>
