/*

Contents
================================

1. Shared Styles
	a. Fonts
    b. Extends
2. Header Section
3. Entries
    a. Pagination
    b. Post Style
4. Footer
================================

*/
$pink: #EC8D9C;
$pointColor: $pinkCoral;
$bgColor: #f9f7f4;
$darkPointColor: rgb(151, 121, 97);

// 1. Shared Styles
// --------------------------------------------------

body{
    background-color: $bgColor;
}

a { color: #000; text-decoration: none; }
a:hover { color: $pointColor; text-decoration:underline; color: #ccc;}

main.container, main.content > .container{
    width:50em;
}

@media screen and (max-width:700px) {
    main.container, main.content > .container{
        width: 93%;
    }
}

.center-img {
    margin: 0 auto;
    display: block;
}

@media screen and (min-width:550px) {
    img {
        max-width: 500px;
    }
}

.emoji {
 	display: inline;
 	margin: 0px 2px 3px 2px;
	width: 16px;
}

.youtube {
    margin-bottom: 10px;
   .movie{
      position: relative;
      padding-bottom: 50%;
      //padding-top: 30px;
      height: 0;
      overflow: hidden;
   }
 
   .movie iframe,
   .movie object,
   .movie embed {
      position: absolute;
      top: 0;
      left: 5%;
      width: 90%;
   }

   .title {
      text-align: center;
      color: lighten($gray, 20%);
   }
}

@media screen and (max-width:600px) {
	.youtube .movie embed {
		width: 100%;
		left: 0;
	}
}

hr {
    border-top: 1px solid lighten($grayLight, 20%);
    border-bottom: none;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #778da8;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #778da8;
}

// 1. a Font
// --------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(../../font/NotoSansKR-Thin-Hestia.eot),
    url(../../font/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(../../font/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../../font/NotoSansKR-Light-Hestia.eot),
    url(../../font/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../../font/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(../../font/NotoSansKR-DemiLight-Hestia.eot),
    url(../../font/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(../../font/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../../font/NotoSansKR-Regular-Hestia.eot),
    url(../../font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(../../font/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../../font/NotoSansKR-Medium-Hestia.eot),
    url(../../font/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(../../font/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../../font/NotoSansKR-Bold-Hestia.eot),
    url(../../font/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(../../font/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(../../font/NotoSansKR-Black-Hestia.eot),
    url(../../font/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(../../font/NotoSansKR-Black-Hestia.otf) format('opentype');
}

// 2. Header Section
// --------------------------------------------------
header {
    min-height: 0.5em;
    font-family: 'Ubuntu Condensed', "Noto Sans Korean";
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #fff;
    background-color:$darkPointColor;
}

.content{
    background-color: $bgColor;

    & > .container{
       min-height: 20em;
    }
}

.content {
    h1{
        font-family: 'Ubuntu Condensed';
        text-transform: uppercase;
        font-weight: bold;
        font-size: 5.1em;
        margin-top: 0.6em;
        text-shadow: 1px 1px #fff;
        letter-spacing: 0.1em;
        color: $pointColor;
    }

    .sub-title{
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        letter-spacing: -1;
        font-size: 1.4em;
        margin: 0.6em 0 1.7em;
        color: $grayLight;
    }
}

@media screen and (max-width:700px) {
    .content {
        h1{
            font-size: 3.1em;
            margin-top: 1em;
        }

        .sub-title{
            font-size: 1.3em;
        }
    }
}



// 3. Entries
// --------------------------------------------------

.entries{
    list-style: none;
    margin:1em 0 0 0;

    li{
        border-bottom: 1px dotted lighten($grayLight, 20%);
        margin-bottom: 2em;
        padding-bottom: 2.2em;
    }

	.title{
		margin:0.5em 0 0.5em 0;
		font-family: 'Ubuntu Condensed', "Noto Sans Korean";
		font-size: 1.5em;
		font-weight: normal;
		color: $pointColor;
	}

    .time{
        font-family: 'Ubuntu Condensed';
        font-size: 0.9em;
        letter-spacing: 0em;
        float: right;
        margin-top: -2.6em;
        color: lighten($gray, 25%);
    }

    h2{
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        color: $pointColor;
        font-weight: normal;
        font-size: 2.8em;
        text-shadow: 1px 1px #fff;
        margin-top: 0.2em;
    }

    h4{
        margin-top:1.0em;
        font-weight: 600;
    }

    h3{
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        font-size: 1.5em;
        font-weight: normal;
        color: $pointColor;
    }

	h5{
		margin-top:1.0em;
		font-weight: 600;
	}

    .content{
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        line-height: 1.6em;
        font-size: 1.15em;
        letter-spacing: 0.1em;
    }
}

@media screen and (max-width:700px) {
    .entries .time {
        margin-top: -0.1em;
        float: none;
		margin-bottom: 0.5em;
    }
}


// 3. a Pagination
// --------------------------------------------------

.pages{
    list-style: none;
    margin: 0em 0em;
}

.prev_next {
    margin-top: 0.5em;
	word-break: break-all;
	clear: both;
	font-family: 'Ubuntu Condensed', "Noto Sans Korean";
	letter-spacing: 0.1em;
}

#post-pagination{
    text-align: center;
    font-family: 'Ubuntu Condensed';
    font-size: 1.15em;
    margin-bottom: 10px;

    .prev {
       clear: both;
    }
    .next {
     clear: both;
    }

    li {
       display: inline-block; padding: 2px 6px 4px 6px;
    }
    .current-page {
        color: $pointColor;
    }
    .pages_none {
        color: #999;
    }
}

// 3. b Post Style
// --------------------------------------------------

.post{
    margin-top: -0.1em;
    line-height: 1.9em;

    li, ul {
        line-height: 1.9em;
    }

    hr{
        width: 280px;
        border-top: 1px dotted lighten($grayLight, 30%);
        border-bottom: none;
    }

    .bottom_line {
        margin-top: 0.5em;
        padding: 1em 0 0.5em 0;
        border-top: 1px solid lighten($grayLight, 20%);
        clear: both;
    }

    .title_line {
        margin: 3.1em 0em 2em 0em;
        border-top: 1px solid lighten($grayLight, 20%);
        clear: both;
    }

    table {
       padding: 0em 0em 1.0em 1.0em;
    }

    thead {
        font-size: 0.9em;
    }

    td {
        padding: 0.3em;
        border-bottom: 1px solid lighten($grayLight, 30%);
    }

    .time {
        font-family: 'Ubuntu Condensed';
        font-weight: normal;
        letter-spacing: 0.1em;
        color: #777;
        float: left;
    }

    .tags {
        font-family: 'Ubuntu Condensed';
        font-weight: normal;
        letter-spacing: 0.1em;
        float: right;
        color: #777;
    }

    h3{
		font-size: 1.5em;
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        font-weight: normal;
        margin:1.5em 0 0.5em 0;
        color: $pointColor;
        padding-bottom: 0.5em;
        border-bottom: 1px solid lighten($grayLight, 30%);
    }

    h2{
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        font-weight: normal;
        font-size: 3.0em;
        padding: 1.2em 0 0;
        letter-spacing: 0.1em;
        color: $pointColor;
        text-align: center;
        word-break: break-word;
        text-shadow: 1px 1px #fff;
    }

	h4{
		margin-top: 1.0em;
		font-weight: 600;
	}

	h5{
		margin-top: 1.0em;
		font-weight: 600;
	}

    section{
        word-break: break-all;
        clear: both;
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        letter-spacing: 0.1em;
    }
}

@media screen and (max-width:700px) {
    .post h2{
        font-size: 2em;
    }
}

.all-tags {
    line-height: 3.5em;
    section{
        text-align: center;
        font-size: 1.7em;
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        letter-spacing: 0.1em;
    }
    span {
        padding: 0.5em;
    }
}

.search {
    width: 360px;
    margin-bottom: 10px;
}

// 3. diary Style
// --------------------------------------------------

.diary{
    margin-top: 0em;
    line-height: 1.9em;

    li, ul {
        line-height: 1.9em;
    }

    hr{
        width: 280px;
        border-top: 1px dotted lighten($grayLight, 30%);
        border-bottom: none;
    }

    .bottom_line {
        margin-top: 1.4em;
        padding: 1em 0 0.5em 0;
        border-top: 1px solid lighten($grayLight, 20%);
        border-bottom: none;
    }

    table {
       padding: 0em 0em 1.0em 1.0em;
    }

    thead {
        font-size: 0.9em;
    }

    .tags {
        font-family: 'Ubuntu Condensed';
        font-weight: normal;
        letter-spacing: 0.1em;
        float: right;
        margin: 1.3em 1.0em 0em 0em;
    }

    td {
        padding: 0.3em;
        border-bottom: 1px solid lighten($grayLight, 30%);
    }

    .time {
		margin: 1.0em 0em 0em 1.0em;
		color: lighten($gray, 25%);
        cursor: default;
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
		float: left;
		letter-spacing: 0.03em;
    }

    h3{
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        font-weight: normal;
        margin:1.5em 0 0.5em 0;
        color: $pointColor;
        padding-bottom: 0.5em;
		font-size: 1.5em;
        border-bottom: 1px solid lighten($grayLight, 30%);
    }

    h2{
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        font-weight: normal;
        font-size: 2.0em;
        padding: 1.2em 0em 0;
        letter-spacing: 0.1em;
        display: inline-block;
        word-break: break-word;
        color: $pointColor;
        line-height: 160%;
        text-align: center;
        border-bottom: 1px dashed #ddd;
        text-shadow: 1px 1px #fff;
    }

	h4{
		margin-top: 1.0em;
		font-weight: 600;
	}

	h5{
		margin: 1.0em 0 0.4em 0;
		font-weight: 600;
	}

    .diary_section {
        padding: 3.5em 2.0em 1.5em 2.0em;
        margin-top: 0.5em;
        margin-bottom: 2.0em;
        border: 1px solid #ddd;
        line-height: 180%;
        word-break: break-all;
        background-color: #ffffff;
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        letter-spacing: 0.1em;

		.img-center {
			margin: 0 auto;
			display: block;
		}
	}


	.diary_list {
		padding: 1.5em 2.0em 2.5em 2.0em;

		ul {
			list-style: none;
			margin: 0;
		}

		li {
			padding-bottom: 1em;
			border-bottom: 1px dotted lighten($grayLight, 20%);
		}

		.title {
			font-weight: normal;
			margin-top:1.0em;
			letter-spacing: 0.1em;
			font-size: 15px;
		}

		time {
			margin-top: -2em;
			color: lighten($gray, 25%);
			float: right;
			letter-spacing: 0.03em;
		}
    }
}

@media screen and (max-width:700px) {
    .diary .diary_section {
        padding: 3.5em 1.5em 1.5em 1.5em;
    }

	.diary .diary_list {
		padding: 1.5em 1.5em 2.5em 1.5em;
	}

	.diary .diary_list time {
		margin-top: 0em;
		float: none;
	}

	.diary h2{
	    font-size: 1.7em;
	}
}


// 4. Footer
// --------------------------------------------------
copyright {
    color: $white;
    font-size: 0.1em;
}

footer {
    background-color: $bgColor;
    padding: 1em 0em;
    text-align: center;
}

.wrapper {
    font-family: 'Ubuntu Condensed', "Noto Sans Korean";
    border-top: 1px solid $darkPointColor;
    font-size: 1.1em;
    padding-top: 3em;
    padding-bottom: 2em;
}

.about-img {
    padding: 0.5em 0.5em;
//  border-radius: 50%;
    width: 95px;
    height: 95px;
}

.footer-heading {
    margin-top: 0.6em;
    letter-spacing: 0.1em;
    font-size: 1.8em;
    margin-bottom: 0.4em;
    color: $pointColor;
    text-transform: uppercase;
}

.intro {
}

.top-menu {
    padding-top:1em;
    margin-top: 2em;
    text-align: center;
}

.top-line {
    margin: 2em 2em 0em 2em;
    border-bottom: 3px dotted $darkPointColor;
    font-size: 1.1em;
}

.menu-icon {
  > a {
    color: #fff;
  }
  padding: 0.5em 0.7em;
  margin: 0.3em;
  background-color: $darkPointColor;
  color: #fff;
  border-radius: 0;
  border: 1px solid $darkPointColor;
  color: #fff;
  &[href] {
    &:hover,
    &:focus {
        text-decoration:none;
      background-color: #fff;
      color: $darkPointColor;
    }
  }
}

// comment
.comments {
    .comments_wrapper {
        width: 90%;
        float: right;
        text-align: right;
   }
    .heading {
        text-align: right;
        letter-spacing: 0.3em;
        font-weight: normal;
        padding-top: 0.3em;
        padding-bottom: 0.7em;
    }

    .line {
        padding-bottom: 1em;
        border-top: 1px dotted $pointColor;
    }

    .text_div {
        text-align: left;
    }

    .text_field {
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        padding: 0.5em;
        margin-right: 0.5em;
        border: 1px solid #ddd;
    }

    .f_name {
        width: 100px;
    }
    .f_email {
        width: 180px;
    }
    .f_url {
        width: 180px;
    }

    .content_div {
        padding: 0.5em 0em 0.5em 0em;
        text-align: right;
        width: 99%;
    }

    .content {
        font-family: 'Ubuntu Condensed', "Noto Sans Korean";
        width: 100%;
        border: 1px solid #ddd;

        background: #fff;
    }

    .new_comment_button {
        font-family: 'Ubuntu Condensed';
        letter-spacing: 0.3em;
        text-align: right;
        background: none;
        font-weight: bold;
        border: none;
        cursor: pointer;
        padding: 0.4em 0 0.8em 0;
    }
    .new_comment_button:focus {
        outline: none;
    }

   .comment-wrapper {
   }

   .comment {
        text-align: left;
   }

   .comment_name {
    font-weight: bold;
   }

   .comment_date {
       font-size: 0.9em;
       font-weight: normal;
   }

   .comment_content {
        line-height: 150%;
        padding-bottom: 1em;
   }

    .comment_line {
        padding-bottom: 0.8em;
        border-top: 1px dotted #ddd;
    }
}
