---
layout: default
---
<!-- Content
    ================================================== -->
  <main class="content">
    <section class="container">
      <div class="row-fluid">
      <article class="top-menu">
        {% include menu.html%}
              <h1><i class="fa fa-tags"></i>Tags</h1>
          <div class="sub-title">{{ site.description }}</div>

      </article>

      <div align="center">
        <div class="search">
	<script>
	  (function() {
	    var cx = '016861966222707864810:bawkoipiaoo';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
  	  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
  	  var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:search></gcse:search>
	</div>
      </div>

      <article class="all-tags">
        <section>
        {% for tag in site.data.tags %}
            <span><a href="/tag/{{ tag.slug }}/">#{{ tag.name }}</a></span>
        {% endfor %}
        </section>
        <div class=bottom_line></div>
      </article>
    </div><br>
  </section>
</main>
