---
layout: default
---
{% capture paging_root %}/tag/{{page.tag}}/{% endcapture %}

  <div class="content">
    <main class="container">
      <div class="row-fluid">
        <article class="top-menu">
          {% include menu.html %}
          <h1>#{{page.tag}}</h1>
          <div class="sub-title">{{ site.description }}</div>
        </article>
        <ul class="entries">
        {% for post in paginator.posts %}
          <li>
            <a href="{{ post.url }}"><div class="title">{{ post.title }}</div></a>
             <div class="time"><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}</div>
             <div class="content">{{ post.content | split:"<!-- more -->" | first | strip_html | truncate:200 }}</div>
          </li>
        {% endfor %}
        </ul>
      </div>

      {% include paging.html %}
    </main>
  </div>

{% assign type = nil %}
{% assign paging_root = nil %}
